.env
.venv/
volumes/certs/client
volumes/certs/ca/issued/
volumes/certs/ca/revoked/
volumes/mongo/
volumes/splunk
*.key
.DS_Store
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.xcuserstate
